<footer class="row" style="color: #fff;">
    <div class="col-md-4">
        <h3>Company</h3>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Contact</h3>
        <ul>
            <li>Email: aliazharaliafsar&#64;gmail.com</li>
            <li>Phone: +971 123 456 789</li>
            <li>Fax: +971 987 654 321</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Address</h3>
        <ul>
            <li>Al Bariq Glass & Aluminium</li>
            <li>Industrial Area 12</li>
            <li>Sharjah, UAE</li>
            <li>PO Box 12345</li>
        </ul>
    </div>
</footer>