<footer class="row" style="color: #fff;">
    <div class="col-md-4">
        <h3>Company</h3>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
         
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Contact</h3>
        <ul>
            <li>Email: aliazharaliafsar&#64;gmail.com</li>
            <li>Phone: +971 55 206 7066</li>
          
        </ul>
    </div>
    <div class="col-md-4">
        <h3>Address</h3>
        <ul>
            <li>Al Bariq Glass & Aluminium</li>
            <li>Dubai, UAE</li>
            <li>Sharjah, UAE</li>
            <li>Abu Dhabi, UAE</li>
            <li>Ajman, UAE</li>
            
        </ul>
    </div>
</footer>