<div class="home-background"></div>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h1 style="color: #fff;" class="text-center">Welcome to Albariq Alsahir Glass and Aluminium</h1>
            <p style="color: #fff;" class="text-center">Your one-stop solution for all glass and aluminium needs.</p>
        </div>
    </div>
    <div class="space"></div>

    <div class="row mt-5">
        <div class="col-md-5">
            <h1 style="background-color: #fff; color: black; font-size: 52px; padding: 20px; font-weight: 800;">
                Efficient And Reliable Services
            </h1>
            <div class="justify-content-center text-align-center align-item-center mx-auto">
                <button class="btn btn-primary mx-3">
                    Contact Us
                </button>
                <button class="btn btn-secondary mx-3">
                    Our Services
                </button>
            </div>
        </div>


    </div>
    <!-- <div class="space"></div> -->
    <div class="card mt-4" style="background-color: #000;">
        <div class="card-content">
            <div class="row ">
                <h3 class="text-center" style="color: #fff; font-weight: 800; font-size: 32px;">
                    Our Services
                </h3>
                <div class="container  row">
                    <div class="col-md-4">
                        <div class="card  hovering p-5">
                            <i class="fa-solid fa-screwdriver-wrench" style="font-size: 72px; color: #fff;"></i>
                            <p class="mt-4" style="color: #fff; font-size: 18px; font-weight: 600; ">
                                Top Services
                            </p>
                            <h1 style="color: #fff; font-size: 24px; font-weight: 800;">
                                Glass Door Fixing & Installation
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card  hovering p-5">
                            <i class="fa-solid fa-toolbox" style="font-size: 72px; color: #fff;"></i>

                            <p class="mt-4" style="color: #fff; font-size: 18px; font-weight: 600; ">
                                Top Services
                            </p>
                            <h1 style="color: #fff; font-size: 24px; font-weight: 800;">
                                Shower Glass Fixing & Installation
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card  hovering p-5">
                            <i class="fa-solid fa-door-open" style="font-size: 72px; color: #fff;"></i>
                            <p class="mt-4" style="color: #fff; font-size: 18px; font-weight: 600; ">
                                Top Services
                            </p>
                            <h1 style="color: #fff; font-size: 24px; font-weight: 800;">
                                Aluminium Window Customization & Installation
                            </h1>
                        </div>
                        <div class="ms-auto" style="float: right;">
                            <button class="btn " style="color: #fff;">
                                View All Services <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 mx-auto">
            <p style="color: red;">
                Who We Are?
            </p>
            <h1 style=" font-size: 36px; font-weight: 800;">
                An Exceptionally Unique Experience Tailored To You
            </h1>
            <div class="justify-content-center text-align-center align-item-center mx-auto mt-5">
                <button class="btn btn-primary mx-3">
                    Contact Us
                </button>
                <button class="btn btn-secondary mx-3">
                    Our Services
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <p>
                we specialize in providing comprehensive glass and aluminum solutions tailored to meet the unique needs
                of each client.
            </p>
            <img class="colimg" src="assets/images/full-length-young-woman-standing-by-window-scaled.webp" alt="">
        </div>
        <div class="col-md-4">
            <p>
                Our team consists of highly skilled professionals who bring a wealth of knowledge and expertise to every
                job.
            </p>
            <img class="colimg" src="assets/images/using-drill-repairman-is-working-indoors-modern-room-scaled.webp"
                alt="">
        </div>
    </div>

    <div class="space"></div>
    <div class="space"></div>

    <div class="container-fluid text-center" style="background-color:#F42223 ; z-index: 1;">
        <div class="space"></div>

        <p style="font-size: 18px; color: #fff;">
            Contact Us
        </p>
        <h1 style="font-size: 53px; font-weight: 700; color: #fff;">
            Free Quotation For Any Job
        </h1>
        <p style="font-size: 18px; color: #fff;">
            At UAE Glass Aluminum, we offer a free, no-obligation quotation for any project, big or small. Our
            transparent pricing and detailed quotes ensure that you have all the information you need to make informed
            decisions. Let us help you plan your next glass or aluminum project with confidence.
        </p>
        <div class="space"></div>

    </div>

</div>
<div class="container-fluid" style="background-color: #0f0c0c; ">
    <img class="logo m-5" src="assets/images/logo.png" alt="">

    <app-footer></app-footer>
</div>