.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), center/cover no-repeat;
    background-blend-mode: overlay;
    overflow: hidden;
    color: white;
    z-index: -1;
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        z-index: -2;
    }
}
.container1 {
    margin-top: 5px;
    background-color: #381e1e;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;
    z-index: 1; // Ensure content is above the background
}

.hovering {
    .img {
        width: 350px;
        height: 200px;
        object-fit: cover;
        justify-content: center;
        align-items: center;
        display: flex;
        text-align: center;
        border-radius: 20px;
        transition: all ease 0.3s;
        aspect-ratio: 3/2;
        align-items: center;
        justify-content: center;
    }

    padding: 10px;
    border: 0px solid #381e1e;
    background-color: #381e1e;
    height: 500px;
    transition: all ease 0.3s;
}

.hovering:hover {
    background-color: #d13535;
    cursor: pointer;
}

.logo {
    max-width: 150px;
}